@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lora');

body
{
    /*posoitioing*/
    margin: 0px;
    /*Font type*/
    font-family: 'Lora', serif;
    width: 100%;
    background-color: #EEEEEE;

}


header
{
	position: relative;
	width: 100%;
	height: 100px;
    background-color: #A9A9A9;
    color: black;

}

nav
{
	float: left;
	width: 45%;
	height:50px;
	margin-top: 33px;
}

nav ul
{
	padding: 0px;
    bottom: 0px;

}

nav li a
{
	float: left;
	color: black;
	width: 15%;
	height: 50px;
	margin-right: 10px;
    text-align: center;
    text-decoration: none;
    	    line-height: (2*height - font-size);

}


nav li a:hover
{
	background-color: #808080;
}

nav ul li {
    display:inline;
}





h1
{
	text-align: center;
}

form
{
	width: 25%;
  margin-top: 30px;
	margin-left: 37.5%;
	text-align: center;
  padding: 1.5px 0px 20px 0px;
  background-color: #FFFFFF;

}



table {
  margin: 15px 0;
  border-collapse: collapse;
  table-layout: fixed;
  width: 50%; /* must have this set */
  margin-left: 25%;
  text-align: center;
}
/*
th
{
	background-color:  #A9A9A9;
	height: 50px;
}

.task_database	td:nth-child(1),
.task_database	td:nth-child(3)
{
	width: 25%;
}
.task_database	td:nth-child(2)
{
	width: 50%;
}

.task_database	th:nth-child(1),
.task_database	th:nth-child(3)
{
	width: 25%;
}
.task_database	th:nth-child(2)
{
	width: 50%;
}




.complete_database	td:nth-child(1),
{
	width: 25%;
}
.complete_database	td:nth-child(2)
{
	width: 75%;
}

.complete_database	th:nth-child(1)
{
	width: 25%;
}
.complete_database	th:nth-child(2)
{
	width: 75%;
}*/

tr:hover
{
	background-color: #f2f2f2
}

th, td {

    border-bottom: 1px solid #000000;
}
