<!DOCTYPE html>
<html>
  <head>

  <meta charset="utf-8">

  {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title> No title specified</title>
      {% endif %}

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheet.css')}}">

  </head>
  <!-- adding the stylesheets to my html files (linking) -->
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/Users2">View Users</a></li>
          <li><a href="/Posts">Posts</a></li>
          <li><a href="/Register">Register</a></li>
          <li><a href="/Login">Login</a></li>
        </ul>
      </nav>
    </header>




      {% block content %}{% endblock %}

  </body>
</html>
