{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
      <li>{{ message }} </li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
<h1> Uncompleted Tasks </h1>
      <table class="task_database">
         <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>Date Joined</th>

            </tr>
         </thead>

         <tbody>
            {% for user in Users %}
               <tr>
                  <td>{{ user.FirstName }}</td>
                  <td>{{ user.LastName }}</td>
                  <td>{{ user.Email }}</td>
                  <td>{{ user.Password }}</td>
                  <td>{{ user.Date }}</td>

               </tr>
            {% endfor %}
         </tbody>
      </table>
{% endblock %}
