{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
      <li style="list-style-type:none;">{{ message }} </li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<h1> Posts </h1>
<table class="Posts">
<thead>
<tr>

<th>Email</th>
<th>Post</th>
<th>Date</th>

</tr>
</thead>

<tbody>
{% for user in Users %}

{% for posts in user.posts %}

<tr>

<td>{{ user.Email }}</td>
<td>{{ posts.UserPost }}</td>
<td>{{ posts.PostDate }}</td>

</tr>
{% endfor %}
{% endfor %}
</tbody>
</table>
      <form action="" method="post" name="deleteForm">
      	<input type="submit" value="Delete whole database"}}>
      </form>
{% endblock %}
