{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
      <li style="list-style-type:none;">{{ message }} </li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

 <form action="" method="POST" name="Login">
       <h1>Login</h1>
       {{ form.hidden_tag() }}
       <p>
            Email:<br>
            {{ form.Email }}
            {% for error in form.Email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
       <p>
            Password:<br>
            {{ form.Password }}
            {% for error in form.Password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
       </p>

       <p><input type="submit" value="Login"></p>
   </form>
{% endblock %}
