{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
      <li>{{ message }} </li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

  <form action="" method="post" name="UserPost">
      {{ form.hidden_tag() }}
      <h1>Post</h1>
      <p>
           Email:<br>
           {{ form.Email }}
           {% for error in form.Email.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}<br>
      </p>
      <p>
           Post:<br>
           {{ form.userPost }}
           {% for error in form.userPost.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}<br>
      </p>

      <p><input type="submit" value="post"></p>
  </form>
{% endblock %}
