{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
      <li style="list-style-type:none;">{{ message }} </li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
 <form action="" method="post" name="Register">
       {{ form.hidden_tag() }}
       <h1>Register</h1>
       <p>
            First Name:<br>
            {{ form.FName }}
            {% for error in form.FName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
       </p>
       <p>
            Last Name:<br>
            {{ form.LName }}
            {% for error in form.LName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
       </p>
       <p>
            Email:<br>
            {{ form.Email }}
            {% for error in form.Email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
       <p>
            Password:<br>
            {{ form.Password }}
            {% for error in form.Password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
       </p>

       <p><input type="submit" value="Register"></p>
   </form>
{% endblock %}
